<div class="panel-body row">
  <div class="col-md-4">
    <p><b><%= link_to listing.job_title, listing_path(listing) %></b><br/>
    <%= link_to listing.company.name, company_path(listing.company) %></p>
  </div>
  <div class="col-md-4">
    <%= listing.job_location %>
  </div>
  <div class="col-md-4">
    <%= listing.created_at.strftime("%B %d") %>
  </div>
</div>