<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <% @listings.each do |listing| %>
    <%= render 'listing', listing: listing %>
  <% end %>
</div>

<br>

<%= link_to 'New Listing', new_listing_path %>
