<div class="panel panel-default">
  <div class="panel-heading"><h4><strong><%= @board.name %> Job Board</strong></h4></div>
</div>

<div class="panel panel-default">
  <div class="panel-body row">
    <div class="col-md-2"><strong>Board</strong></div>
    <div class="col-md-10"><%= @board.name %></div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body row">
    <div class="col-md-2"><strong>Subdomain</strong></div>
    <div class="col-md-10"><%= @board.subdomain %></div>
  </div>
</div>